<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>DSA New Orleans</title>
    <meta name="description" content="" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="DSA New Orleans">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="http://mark-read.info">
    <meta name="twitter:creator" content="@MarkReadM">
    <meta name="google-site-verification" content="">
    <meta property="fb:admins" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="DSA New Orleans">
    <meta property="og:description" content="">

    <link rel="icon" type="image/x-icon" href="/img/logo.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/js/styles/obsidian.css">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i/Open+Sans:400,400i,700,700i">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" media="print" href="/css/print.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/solarized.css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
        .post-content a,
        .post-content a:active {
            color: #ec1f27;
        }
        .post-content a:visited {
            color: #d3363b;
        }
        .post-content a:hover,
        .post-content a:focus {
            color: #000;
        }
    </style>
</head>
<body class="">
    <nav class="champagne-nav">
        <a class="champagne-nav__item" href="/">Home</a>
        <a class="champagne-nav__item" href="/events.html">Events</a>
        <a class="champagne-nav__item" href="https://goo.gl/forms/UStZn0Sh6A2fcZy43">Sign Up</a>
        <a class="champagne-nav__item champagne-nav__item--social" href="https://twitter.com/neworleansdsa"><span class="sr-only">Twitter</span><i class="fa fa-twitter"></i></a>
        <a class="champagne-nav__item champagne-nav__item--social" href="https://facebook.com/neworleansdsa"><span class="sr-only">Facebook</span><i class="fa fa-facebook"></i></a>
    </nav>
    <div class="teaserimage">
        <div class="teaserimage-image" style="background-image: url(/img/teaser.png)">
            Teaser Image
        </div>
    </div>
    <script src="/js/lib/teaser.js"></script>

    <main class="content" role="main">

        {{ content }}

    </main>

    <footer class="site-footer">
        <a class="subscribe icon-feed" href="/rss.xml"><span class="tooltip"> Subscribe!</span></a>
        <div class="inner">
            <section class="copyright">All content copyright <a href="//">DSA New Orleans</a> &copy; 2017 &bull; All rights reserved.</section>
        </div>
    </footer>
    <script src="/js/min/jquery.fitvids-ck.js"></script>
    <script src="/js/lib/index.js"></script>
    <script src="/js/lib/readingTime.min.js"></script>
    <!-- <script>hljs.initHighlightingOnLoad();</script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
</body>
</html>



